---
layout: default
title: Homepage
seo:
  title: 
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!------------ Image Banner ------------>
<section class="bg-image bg-image-home padded grid bg-overlay tall-90">
    <!-- Change bg-image!! -->
    <div class="col-12-top center text-light">
        <h1> Liesbeth Peeters </h1>
        <p class="emphasis"> Web Design & Web Development Services </p>
    </div>
</section>

<!------------ About Me Section ------------>
<section class="grid padded bg-featured">
    <div class="col-5 bg-image bg-image-woman tall-70">
        <!-- Add image of myself here!! -->
    </div>
    <div class="col-7-middle padded">
        <h2> ABOUT ME </h2>
        <!-- Add handwriting font here -->
        <h3> Hi, I'm Liesbeth! </h3>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa perspiciatis sit fuga praesentium sint excepturi, dolores nulla. Vero ea incidunt, praesentium numquam vel iusto et atque cupiditate eligendi cum aperiam?</p>
        <!-- Add link + button style -->
        <a href="#" class="button"> Read More </a>
    </div>
</section>


<!------------ Services Section ----------->
<section class="grid padded bg-featured-light">
    <div class="col-4 grid-middle center padded">
        <div class="col-12 bg-image bg-image-design shape-window tall-50 padded"></div>
        <div class="col-12 padded bg-medium">
            <h3> Web Design </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore modi illo commodi dignissimos quisquam eum? Delectus saepe numquam doloremque libero vitae.</p>
            <a href="/services.html"> Read More </a>
        </div>
    </div>
    <div class="col-4 grid-middle center padded">
        <div class="col-12 bg-image bg-image-dev shape-window tall-50 padded"></div>
        <div class="col-12 padded bg-medium">
            <h3> Web Development & SEO </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore modi illo commodi dignissimos quisquam eum? Delectus saepe numquam doloremque libero vitae.</p>
            <a href="/services.html"> Read More </a>
        </div>
    </div>
    <div class="col-4 grid-middle center padded">
        <div class="col-12 bg-image bg-image-seo shape-window tall-50 padded"></div>
        <div class="col-12 padded bg-medium">
            <h3> Website Maintenance </h3>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore modi illo commodi dignissimos quisquam eum? Delectus saepe numquam doloremque libero vitae.</p>
            <a href="/services.html"> Read More </a>
        </div>
    </div>
</section>


<!------------ Add Portfolio Slider / Recent Projects ------------>


<!------------ Contact Banner ------------>
<section class="bg-image bg-image-present padded grid-middle tall-50">
    <h2 class="col-12"> Let's Get In Touch! </h2> 
    <p class="col-12 emphasis"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, delectus sequi.</p>
    <!-- Add link + button style  -->
    <a href="/contact.html" class="button"> Contact Me </a>
</section>


<!------------ Testimonial Slider ------------>
<section class="grid">
    <h2 class="col-12 center"> Testimonials </h2>
    <div class="col-1 right">
      <span class="quote-icon"> “ </span>
    </div>
    <div class="col-10">
      <div class="testimonial-slider-container testimonial">
      <!--------- SLIDE 1 ---------->
        <div class="slider-item"> 
          <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos maiores similique ab facere ut iure nesciunt voluptatibus? Rerum, velit. Itaque perferendis unde nemo incidunt qui excepturi est illum sint saepe? </p>
          <p class="right author"> - Author </p>
        </div>
      <!--------- SLIDE 2 ---------->
        <div class="slider-item"> 
          <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos maiores similique ab facere ut iure nesciunt voluptatibus? Rerum, velit. Itaque perferendis unde nemo incidunt qui excepturi est illum sint saepe? </p>
          <p class="right author"> - Author </p>
        </div>
      <!---------- SLIDE 3  --------->
        <div class="slider-item"> 
          <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos maiores similique ab facere ut iure nesciunt voluptatibus? Rerum, velit. Itaque perferendis unde nemo incidunt qui excepturi est illum sint saepe? </p>
          <p class="right author"> - Author </p>
        </div>
      <!-------- SLIDE 4  -------->
        <div class="slider-item"> 
          <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos maiores similique ab facere ut iure nesciunt voluptatibus? Rerum, velit. Itaque perferendis unde nemo incidunt qui excepturi est illum sint saepe? </p>
          <p class="right author"> - Author </p>
        </div>
      </div>
    </div>
    <div class="col-1">
      <span class="quote-icon"> ” </span>
    </div>
  </section> 

<!------------------- Featured blog loop / What's New On The Blog Section ------------------->
<section class="padded">

    <div class="capped-width grid-center">

    <div class="col-12 padded-05 center margin-b-1">
        <h2> Featured Posts </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, quaerat necessitatibus? Praesentium fugit ex neque magni, possimus, iste itaque voluptatem id doloremque voluptas consequatur dolor cumque! Dolores possimus laboriosam adipisci.</p>
    </div>

        {% assign featured_posts = site.posts | where: 'featured', true %}

        {% for post in featured_posts limit:3 %}

            <div class="col-4 post-item padded-05">
                <div class="bg-image portrait" style="background-image:url( '{{ post.featured_image }}' );"></div>
                <div class="padded-t-1">
                    
                    {% for item in post.categories %}
                        <span class="tag"> {{item}} </span>
                    {% endfor %}

                    <h2 class="margin-t-1"> {{ post.title }} </h2>
                    <p> {{ post.description }} </p>
                    <a href="{{ post.url }}" class="subtle-button"> Read More </a>

                </div>
            </div>

        {% endfor %}

    </div>

</section>


