<footer class="grid-middle center padded bg-medium">
  <nav class="col-4 padded-1 menu-nav">
    <a href="#"> Home </a>
    <a href="#"> About </a>
    <a href="#"> Services </a>
    <a href="#"> Portfolio </a>
    <a href="#"> Contact </a>
    <a href="#"> Blog </a>
  </nav>
  <div class="col-4 padded-1">
    <a href="#" class="logo"> LOGO </a>
  </div> 
  <nav class="col-4 padded-1"> 
    <a href="#"> <i class="fab fa-facebook-f"></i> </a>
    <a href="#"> <i class="fab fa-pinterest-p"></i> </a>
    <a href="#"> <i class="fab fa-instagram"></i> </a>
  </nav>
</footer>

<section class="bg-dark center">
  <p> Copyright 2021 </p>
</section>