<header class="grid-middle">
  <div class="col-4">
      <!-- Insert logo + link here -->
      <a href="/index.html" class="logo"> LOGO </a>
  </div>
  <nav class="col-8 hide-sm right">
      <!-- Insert links here -->
      <a href="/index.html"> Home </a>
      <a href="/about.html"> About </a>
      <a href="/services.html"> Services </a>
      <a href="/portfolio.html"> Portfolio </a>
      <div class="dropdown">
          <a href="/blog.html" class="dropdown-title"> Blog </a>
          <div class="dropdown-content">
              <!-- Insert links here -->
              <a href="#"> Webdesign </a>
              <a href="#"> Travel </a>
              <a href="#"> Lifestyle </a>
          </div>
      </div>
      <a href="/contact.html"> Contact </a>
  </nav>
  <div class="col-7 right">
      <!-- Insert own hamburger button here -->
      <a class="hamburger-button show-sm"> &#9776; </a>
  </div>
</header>

<div class="mobile-menu">
  <nav>
      <a href="/index.html"> Home </a>
      <a href="/about.html"> About </a>
      <a href="/services.html"> Services </a>
      <a href="/portfolio.html"> Portfolio </a>
      <a href="/contact.html"> Contact </a>
      <a href="/blog.html"> Blog </a>
  </nav>
</div>



<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 